body
{
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  background-size: 100% 100%;
  font-family: sans-serif;
}
h1
{
  color: white;
  text-align: center;
}
h2
{
  margin: 0;
  font-size: 2vw;
}
table
{
   width: 100%;
}
td
{
  text-align: center;
  position: relative;
  border: 1px solid black;
}
p
{
  font-size: 1vw;
}
.no_border
{
  border: none;
}
.num
{
  text-align: left;
  margin: 0;
}
.masse
{
  margin: 0;
  text-align: right;
}
.reactive_nonmetal
{
  background-color: #f0ff8f;
}
.metalloid
{
  background-color: #cccc99;
}
.alkali_metal
{
  background-color: #ff6666;
}
.transition_metal
{
  background-color: #ffc0c0;
}
.alkaline_earth_metal
{
  background-color: #ffdead;
}
.post_transition_metal
{
  background-color: #cccccc;
}
.noble_gas
{
  background-color: #c0ffff;
}
.unknown
{
  background-color: #e8e8e8;
}
.lanthanide
{
  background-color: #ffbfff;
}
.actinide
{
  background-color: #ff99cc;
}
